html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #464545;
    border-top: 1px solid #464545;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.breadcrumb {
    margin-top: 15px;
    margin-bottom: 30px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.display-inline {
    display: inline;
}

.display-block {
    display: block;
}

.btn-add {
    margin-top: 24px;;
}

.m-r-5 {
    margin-right: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-t-30 {
    margin-top: 30px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table  > thead > tr > th {
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

.input-small {
    display: inline;
    width: 25%;
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: center;
}

.input-small-view {
    width: 100%;
}

.panel-small .panel-title {
    font-size: 14px;
}

.panel > .panel-md {
    height: 70px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child), .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle), .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.badge-success {
    background-color: #5cb85c;
}

.badge-danger {
    background-color: #d9534f;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}

.m-t-10 {
    margin-top: 10px;
}

.m-r-15 {
    margin-right: 15px;
}

.panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #777;
}

.jogo-error {
    border: 3px solid #e74c3c;
}

.sorteio-index h3, .sorteio-index .btn-warning {
    margin-bottom: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 5px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00bc8c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00bc8c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #fff;
    background-color: #00a379;
    border-color: transparent;
}

.datepicker table tr td span:hover, .datepicker table tr td span.focused {
    color: #fff;
    background-color: #009871;
    border-color: #009871;
}

.datepicker table tr td.today {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.datepicker table tr td.day:hover, .datepicker table tr td.focused {
    background: #009871;
    cursor: pointer;
}

.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker tfoot tr th:hover {
    background: #009871;
}
